<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiao.train.DAO.EmployeeTDAO">

    <select id="getAllEmpT" resultType="com.qiao.train.po.Employee">
        select *
        from employeeT
    </select>

    <insert id="createEmpT">
        insert into employeeT
        values (null, #{name}, #{gender}, #{age}, #{position}, #{major}, #{exp}, #{eduBg}, #{school}, #{phone},
                #{email}, #{info})
    </insert>

    <delete id="deleteEmpT">
        delete
        from employeeT
        where id = #{id}
    </delete>

    <update id="updateEmpT">
        update employeeT set
        <if test="name != null">
            name = #{name},
        </if>
        <if test="gender != null">
            gender = #{gender},
        </if>
        <if test="age != null">
            age = #{age},
        </if>
        <if test="position != null">
            position = #{position},
        </if>
        <if test="major != null">
            major = #{major},
        </if>
        <if test="exp != null">
            exp = #{exp},
        </if>
        <if test="eduBg != null">
            eduBg = #{eduBg},
        </if>
        <if test="school != null">
            school = #{school},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="info != null">
            info = #{info},
        </if>
        id = id
        <where>
            id = #{id}
        </where>
    </update>
</mapper>
