<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiao.train.DAO.EmployeeDAO">
    <select id="getALlEmp" resultType="com.qiao.train.po.Employee">
        select *
        from employee
    </select>
    <select id="login" resultType="java.lang.String">
        select *
        from employee
        WHERE name = "左玉"
    </select>
</mapper>
